:root {
  --primary-color: #5267DF;
  --secondary-color: #1B1F3B;
  --background-color: #F4F6FF; 
  --card-background: #fff;
  --text-light: #8C90A5; 
  --font-family: 'Poppins', sans-serif; 
  --border-radius: 10px; 
  --transition-speed: 0.3s ease-in-out; 
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

.title {
  display: flex; 
  align-items: center; 
}

.title-image {
  width: 75px; 
  height: auto; 
  margin-left: 10px;
}

h1, h2, h3 {
  font-family: var(--font-family);
  color: var(--secondary-color);
  line-height: 1.2;
  margin-bottom: 16px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-top: 16px;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-light);
}

.amount-owed {
  color: black;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px; 
}

.result-card {
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  padding: 24px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: max-height 1s ease, opacity 1s ease; 
}

.slide-in {
  max-height: 500px;
  opacity: 1;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color var(--transition-speed), box-shadow var(--transition-speed);
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button:hover {
  background-color: #4057b8; 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

input, select {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid #ddd;
  margin-bottom: 20px;
  transition: border-color var(--transition-speed), box-shadow var(--transition-speed);
}

input:focus, select:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(82, 103, 223, 0.3);
  outline: none;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem; 
  }

  h2 {
    font-size: 1.6rem; 
  }

  .container {
    padding: 20px; 
    width: 100%; 
    overflow-x: hidden; 
  }

  button {
    padding: 10px 16px; 
  }

  input, select {
    padding: 14px; 
    font-size: 1rem; 
  }
}

/* Footer Styles */
.footer {
  margin-top: 40px;
  text-align: center; 
  font-size: 1rem; 
  color: var(--text-light); 
}

.footer a {
  color: var(--primary-color); 
  text-decoration: none; 
  font-weight: bold; 
  transition: color var(--transition-speed);
}

.footer a:hover {
  color: #4057b8; 
}
